* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 4fr;
  grid-template-rows: 15fr 1fr;
}

aside {
  background-color: #bbb;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 3rem 0 0 3rem;
  overflow: auto;
}

.cat-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category {
  font-size: 1.5rem;
  text-align: left;
  border-radius: 15px;
  padding: .1rem .75rem;
  font-family: sans-serif;
}

aside button {
  border: none;
  background: none;
  font-size: 1.5rem;
  text-align: left;
  border-radius: 15px;
  padding: .1rem .75rem;
}

aside button:hover {
  cursor: pointer;
  background-color: #999;
}

.sub-cat {
  margin-left: .5rem
}

#aside-footer {
  background-color: #bbb;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-top: solid 1px #999;
}

main {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

footer {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border-top: solid 1px #999;
}