* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 4fr;
  grid-template-rows: 15fr 1fr;
}

aside {
  background-color: #999;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#aside-footer {
  background-color: #999;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-top: solid 1px #777;
}

main {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

footer {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border-top: solid 1px #777;
}