* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 4fr;
  grid-template-rows: 15fr 1fr;
}

aside {
  background-color: #bbb;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 3rem 0 0 3rem;
  overflow: auto;
}

.cat-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category {
  font-size: 1.5rem;
  text-align: left;
  border-radius: 15px;
  padding: .1rem .75rem;
  font-family: sans-serif;
}

aside button {
  border: none;
  background: none;
  font-size: 1.5rem;
  text-align: left;
  border-radius: 15px;
  padding: .1rem .75rem;
}

aside button:hover {
  cursor: pointer;
  background-color: #999;
}

.sub-cat {
  margin-left: .5rem
}

#aside-footer {
  background-color: #bbb;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-top: solid 1px #999;
  display: grid;
  place-content: center;
}

#aside-footer button {
  padding: 1rem;
  font-size: 1rem;
}

main {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

footer {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border-top: solid 1px #999;
}

dialog {
  width: 80%;
  max-width: 500px;
  height: 80%;
  max-height: 400px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dialog-form label {
  font-size: 1.7rem;
}

.dialog-form input{
  padding: 5px;
  margin-top: 5px;
  font-size: 1.7rem;
  border-radius: 10px;
}

dialog .input-wrapper {
  margin: 2rem auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

dialog .button-wrapper {
  margin: auto 0 2rem 0;
  align-self: center;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog button {
  border: none;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

dialog button:hover {
  background-color: #0056b3;
}